<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#City_List" aria-controls="home" role="tab" data-toggle="tab">Add Theater</a></li>
    <li role="presentation"><a href="#Theater_List" aria-controls="profile" role="tab" data-toggle="tab">Add City</a></li>
    <li role="presentation"><a href="#Movie_List" aria-controls="messages" role="tab" data-toggle="tab">Add Theaters</a></li>
    <li role="presentation"><a href="#Show_Time" aria-controls="settings" role="tab" data-toggle="tab">Add Show times</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="City_List"> This is City List</div>
    <div role="tabpanel" class="tab-pane" id="Theater_List">This is theater List</div>
    <div role="tabpanel" class="tab-pane" id="Movie_List">This is Movie List</div>
    <div role="tabpanel" class="tab-pane" id="Show_Time">This is show time</div>
    
  </div>

</div>
