<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Movies">
        <md-content class="md-padding">
          <h3 class="md-display-1">Movies</h3>
            <table class="table">
                  <thead>
                      <tr>
                          <th>Movies</th>
                          <th colspan="2">Actions</th>
                          
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                      
                         
                          <td><input ng-model="movi.moviTitle" /></td>

                          <td><button ng-click="insertMovie(movi)" class="btn btn-primary">Add </button></td>

                          <td><button ng-click="updateData(movi)" class="btn btn-primary">Update</button></td>

                      </tr>
                      <tr ng-repeat=" movi in moviList">
                          <td>{{movi.moviTitle}}</td>
                          <td><button ng-click="deleteData(movi)" class="btn btn-danger">Remove</button></td>
                          <td><button ng-click="editData(movi)" class="btn btn-primary">Edit</button></td>
                      </tr>
                  </tbody>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="Cities">
        <md-content class="md-padding">
          <h3 class="md-display-1">Cities</h3>
           <table class="table">
                          <thead>
                              <tr>
                             
                                  <th>City Name</th>
                              
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                              
                                  <td><input ng-model="city.cityName" /></td>
                                  <td><button ng-click="addData(city)" class="btn btn-primary">Add City</button></td>
                                  <td><button ng-click="updateData(city)" class="btn btn-primary">Update</button></td>

                              </tr>
                              <tr ng-repeat=" city in cityList">
                                  <td>{{city.cityName}}</td>
                                  <td><button ng-click="deleteData(city)" class="btn btn-danger">Remove</button></td>
                                  <td><button ng-click="editData(city)" class="btn btn-primary">Edit</button></td>
                              </tr>
                          </tbody>
           </table> 
        </md-content>
      </md-tab>
      <md-tab label="Theater">
        <md-content class="md-padding">
          <h3 class="md-display-1">Theater</h3>
          <table cellpadding="10" cellspacing="5" width="100%">
                <thead style="border-bottom: 1px solid #ccc;">
                <tr>
                    <td><strong>Theater Name</strong></td>
                    <td><strong>No of Seat</strong></td>
                    <td><strong>Ticket Price</strong></td>
                    <td><strong>City</strong></td>
                    
                    <td colspan="2"><strong>Actions</strong></td>

                </tr>
                </thead>
                <tbody>
                      <tr>
                       
                          <td><input placeholder="Theatre Name" ng-model="thtr.thtrName" /></td>
                          <td><input placeholder="Total Seats" ng-model="thtr.totalSeat" /></td>
                          <td><input placeholder="Ticket Price"  ng-model="thtr.ticketPrice" /></td>
                          <td>
                          <select ng-model="thtr.city" >
                             <option ng-repeat="city in cityList" ng-value="city.cityName">{{city.cityName}}</option>
                           </select>
                           </td>
                          <td><button ng-click="addData(thtr)" class="btn btn-primary">Add</button></td>
                          <td><button ng-click="updateData(thtr)" class="btn btn-primary">Update</button></td>

                      </tr>
                      <tr ng-repeat=" thtr in thtrList">
                          <td>{{thtr.thtrName}}</td>
                          <td>{{thtr.totalSeat}}</td>
                          <td>{{thtr.ticketPrice}}</td>
                          <td>{{thtr.city}}</td>
                          <td><button ng-click="deleteData(thtr)" class="btn btn-danger">Remove</button></td>
                          <td><button ng-click="editData(thtr)" class="btn btn-primary">Edit</button></td>
                      </tr>
                </tbody>          
          </table>
        <md-content>
      </md-tab>
      <md-tab label="Show Time">
        <md-content class="md-padding">
          <h3 class="md-display-1">Show Time</h3>
           <table class="table">
                  <thead>
                      <tr>
                          <th>Timing ID</th>
                          <th colspan="2">Actions</th>
                          
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                               
                          <td><input ng-model="stim.stimName" /></td>

                          <td><button ng-click="addData(stim)" class="btn btn-primary">Add </button></td>

                          <td><button ng-click="updateData(stim)" class="btn btn-primary">Update</button></td>

                      </tr>
                      <tr ng-repeat=" stim in stimList">
                          <td>{{stim.stimName}}</td>
                          <td><button ng-click="deleteData(stim)" class="btn btn-danger">Remove</button></td>
                          <td><button ng-click="editData(stim)" class="btn btn-primary">Edit</button></td>
                      </tr>
                  </tbody>
           </table>
        <md-content>
      </md-tab>
      <md-tab label="Assign Movies">
          <md-content class="md-padding">
              <h3 class="md-display-1">Assign Movies</h3>
                <table class="table">
                    <thead>
                       <tr>
                                <th>Select Movie</td>
                                <td>Select City</td>
                                <td>Select Theater</td>
                                <td>Movie Start Date</td>
                                <td>Movie End Date</td>
                                <td colspan="2">Action</td>
                             
                       </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>
                            <select ng-model="asmv.asmvMovie">
                              <option ng-model="asmv.asmvMovie" ng-repeat="movie in moviList" >{{movie.moviTitle}}</option>
                            </select>
                         </td>
                         <td>
                            <select ng-model="asmv.asmvCity" ng-change="loadTheatres()">
                              <option ng-model="asmv.asmvCity" ng-repeat="city in cityList" >{{city.cityName}}</option>   
                            </select>
                          </td>
                          <td>
                            <select ng-model="asmv.asmvTheatre">
                              <option ng-model="asmv.asmvTheatre" ng-repeat="theatre in cityTheatres" >{{theatre.thtrName}}</option>          
                            </select>
                          </td>
                          <td>
                              <input type="date"  ng-model="asmv.asmvFromDate" placeholder="yyyy-MM-dd" required />
                          </td>
                          <td>
                                <input type="date"  ng-model="asmv.asmvToDate" placeholder="yyyy-MM-dd" required />
                          </td>

                          <td><button ng-click="addAssignMovie(asmv)" class="btn btn-primary">Add </button></td>

                          <td><button ng-click="updateData(asmv)" class="btn btn-primary">Update</button></td>

                      </tr>
                      <tr ng-repeat=" asmv in asmvList">
                          <td>{{asmv.asmvMovie}}</td>
                          <td>{{asmv.asmvCity}}</td>
                          <td>{{asmv.asmvTheatre}}</td>
                          <td>{{asmv.asmvFromDate}}</td>
                          <td>{{asmv.asmvToDate}}</td>
                          <td><button ng-click="deleteData(asmv)" class="btn btn-danger">Remove</button></td>
                          <td><button ng-click="editData(asmv)" class="btn btn-primary">Edit</button></td>
                      </tr>
                  </tbody>
               </table>
          </md-content>
      </md-tab>
      <md-tab label="Assign Showtime">
          <md-content class="md-padding">
            <h3 class="md-display-1">Assign Showtime</h3>
                <table class="table">
                  <thead>
                      <tr>
                      
                          <th>Theater Name</th>
                          <th>Show Time</th>
                          
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                         <td>
                            <select ng-model="asst.asstTheatre">
                              <option ng-model="asst.asstTheatre" ng-repeat="thtr in thtrList" >{{thtr.thtrName}}</option>
                            </select>
                          </td>
                          <td>
                              <select ng-model="asst.asstTime">
                                <option ng-model="asst.asstTime" ng-repeat="stim in stimList" >{{stim.stimName}}</option>
                              </select>
                          </td>

                          <td><button ng-click="addData(asst)" class="btn btn-primary">Add </button></td>

                          <td><button ng-click="updateData(asst)" class="btn btn-primary">Update</button></td>

                      </tr>
                      <tr ng-repeat=" asst in asstList">
                          <td>{{asst.asstTheatre}}</td>
                           <td>{{asst.asstTime}}</td>
                          <td><button ng-click="deleteData(asst)" class="btn btn-danger">Remove</button></td>
                          <td><button ng-click="editData(asst)" class="btn btn-primary">Edit</button></td>
                      </tr>
                  </tbody>
                </table>

          </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>