<div class="jumbotron text-center">
    <h3>City List for Booking</h3>

    <p>{{ tagline }}</p>

    <div>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th>City Name</th>
                        

                    </tr>
                </thead>
                <tbody>
                    <tr>


                        <td width="70%"><input ng-model="city.cityName" /></td>

                                               <td><button ng-click="addCity(city)" class="btn btn-primary btn-sm">Add </button> <button ng-click="updateCity(city)" class="btn btn-primary btn-sm">Update</button></td>

                    </tr>
                    <tr ng-repeat="city in cityList">
                        <td>{{city.cityName}}</td>
                       
                        <td><button ng-click="editCity(city)" class="btn btn-primary btn-sm">Edit</button>
                         <button ng-click="removeCity(city)" class="btn btn-danger btn-sm">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>