
<div class="row">
<div class="col-md-12" ng-non-bindable>
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="resources/images/1.png" alt="First Slide">
            </div>
            <div class="item">
                <img src="resources/images/2.png" alt="Second Slide">
            </div>
            <div class="item">
                <img src="resources/images/3.png" alt="Third Slide">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
</div>
</div>
<div class="jumbotron" style="padding: 10px;">
	
<h3>Tranding Movies</h3>    
<md-content>
<md-tabs md-dynamic-height md-border-bottom>
<md-tab label="Thriller Movies">
    <md-content class="row md-padding">
           
        <div class="col-md-12">
          
          <div class="col-md-3" ng-repeat = "movie in thrillerMovies">
            <div class="home-movie-list" style="width: 100%; height: 250px">
            <img class="movie-poster" ng-src={{movie.moviPoster}} width="100%" height="100%"/>
            </div>
            <span class="movie-title">Title : {{movie.moviTitle}}</span><br/>
            <button ng-click = "bookMovie(movie)" class="button-color book btn btn-primary ">Book</button>
          </div>
        </div>
    </md-content>
</md-tab>
<md-tab label="Action Movies">
    <md-content class="row md-padding">
        <div class="col-md-12">
          
          <div class="col-md-3" ng-repeat = "movie in actionMovies">
            <div class="home-movie-list" style="width: 100%; height: 250px">
            <img class="movie-poster" ng-src={{movie.moviPoster}} width="100%" height="100%" />
            </div>
            <span class="movie-title" >Title : {{movie.moviTitle}}</span><br/>
            <button ng-click = "bookMovie(movie)" class="button-color book btn btn-primary ">Book</button>
          </div>
        </div>
    </md-content>
</md-tab>
<md-tab label="Comedy Moives">
    <md-content class="row md-padding">
        <div class="col-md-12">
          
          <div class="col-md-3" ng-repeat = "movie in comedyMovies">
            <div class="home-movie-list" style="width: 100%; height: 250px">
            <img class="movie-poster" ng-src={{movie.moviPoster}} width="100%" height="100%"/>
            </div>
            <span class="movie-title" >Title : {{movie.moviTitle}}</span><br/>
            <button ng-click = "bookMovie(movie)" class="button-color book btn btn-primary ">Book</button>
          </div>
        </div>
    </md-content>
</md-tab>
<md-tab label="Family Moives">
    <md-content class="row md-padding">
        <div class="col-md-12">
          
          <div class="col-md-3" ng-repeat = "movie in familyMovies">
            <div class="home-movie-list" style="width: 100%; height: 250px">
            <img class="movie-poster" ng-src={{movie.moviPoster}} width="100%" height="100%"/>
            </div>
            <span class="movie-title" >Title : {{movie.moviTitle}}</span><br/>
            <button ng-click = "bookMovie(movie)" class="button-color book btn btn-primary ">Book</button>
          </div>
        </div>
    </md-content>
</md-tab>
</md-tabs>
</md-content>


</div>