<div class="jumbotron text-center">
    <h3>Movie Booking</h3>

    <p>{{ tagline }}</p>

    <div>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th>Movie ID</th>
                        <th>Movie</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>


                        <td ><input ng-model="movi.moviTitle" /></td>

                        

                        <td><button ng-click="addMovie(movi)" class="btn btn-primary btn-sm"> Add </button> 
                            <button ng-click="updateMovie(movi)" class="btn btn-primary btn-sm">Update</button></td>

                    </tr>
                    <tr ng-repeat=" movi in moviList">
                        <td><img ng-src={{movi.moviPoster}} height="50px" width="50px"> {{movi.moviTitle}}</td>
                        
                        <td><button ng-click="editMovie(movi)" class="btn btn-primary btn-sm">Edit</button>
                         <button ng-click="removeMovie(movi)" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>