<div class="jumbotron text-center">
    <h3>Show time List for Booking</h3>

    <p>{{ tagline }}</p>

    <div>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th>Theater Name</th>
                        <th>Show Time</th>
                        <th>Actions</th>
                        

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>
                            <select ng-model="show.theaterName">
                                <option ng-repeat="theater in theaterList">{{theater.theaterName}}</option>
            
                            </select>
                        </td>
                        <td><input ng-model="show.showtime" /></td>

                        <td>
                        <button ng-click="addShowTime(show)" class="btn btn-primary btn-sm">Add </button> 
                        <button ng-click="updateShowTime(show)" class="btn btn-primary btn-sm">Update</button>
                        </td>

                    </tr>
                    <tr ng-repeat="show in showtimeList">
                        <td>{{show.theaterName}}</td>
                        <td>{{show.showtime}}</td>
                       
                        <td><button ng-click="editShowTime(show)" class="btn btn-primary btn-sm">Edit</button>
                         <button ng-click="removeShowTime(show)" class="btn btn-danger btn-sm">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>